body  {
  background: white;
  color: black;
  font-family: helvetica;
  text-align: center;
}
a {
  text-decoration: none;
}
.contact  {
  font-weight: bold;
}
hr {
  width: 1000px;
}
ul {
  list-style-position: inside;
}