@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  padding: 0;
  margin: 0;
}

body  {
  background: white;
  color: black;
  font-family: baskerville, serif;
  color: #222222;
  text-align: center;
}

p {
  font-size: 18px;
  line-height: 1.5em;
  margin: 2em;
}

a {
  color: #6ABF52;
  text-decoration: none;
}

nav a {
  margin-right: 10px;
}

img {
  width: 40%;
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  padding: 20px;
}

ul {
  padding: 20px;
}

footer {
  background-color: #cccccc;
  padding: 20px;
}

hr {
  margin: 20px;
}

ul {
  list-style-position: inside;
}

.contact  {
  font-weight: bold;
}