@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
  font-size: 16px;
  background: white;
  position: relative;
  color: #222222;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  padding: 1em;
  background-color: #cccccc;
}

section{
  margin: 1em;
}

nav {
  text-align: center;
  float: right;
  padding: .5em;
}

a {
  text-decoration: none;
  color: #6ABF52;
  padding: .5em;
}

nav a:link{
  color: #6ABF52;
  margin: 0 2em;
  padding-bottom: .5em;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .3em;
}

a:hover{
  color: #aaaaaa;
}

section {
  padding: .5em 0;
}

h1,h2, h3, h4 {
  text-align: center;
  font-weight: bold;
  padding: .8em 0;
}

h1 {
  font-weight: normal;
  font-size: 4em;
  text-align: center;
  margin: .5em 0 0;
}

h2{
  font-size:3em;
  letter-spacing:.1em;
}

h3{
  font-size:2.25em;
  margin:1em;
}

h4{
  font-size:1.5em;
  color: #cccccc;
}

p {
  font-size: 1em;
  line-height: 1.6em;
}

ul {
  list-style: none;
  margin: .8em 0 0;
}

li {
  text-align: center;
}

img{
  width: 10%;
  padding: 1em;
}

input{
  margin-bottom: 2em;
}

footer {
  background-color: #cccccc;
  padding: 3em 0;
}

.clearfix:after{
  visibility: hidden;
  height: 0;
  font-size: 0;
  content:"hello";
  display: block;
  clear:both;
}

#wrapper{
  width: 80%;
  margin: auto;
}

.column{
  width:15%;
  margin:1.5%;
  float:left;
}

.subscribe{
  margin:1em;
  padding:1em;
  text-align: center;
}

.center{
  text-align: center;
}

#mobile{
  display: none;
}

@media only screen and (min-width: 1000px) {
  #wrapper{
    width: 800px;
  }
}

@media only screen and (max-width: 1000px) {
  footer {
    text-align: center;
  }
  nav{
    float: none;
  }
  .column {
    float: none;
    width: 100%;
    text-align: center;
  }
  img {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 2em;
  }
  h2, h3, h4 {
    font-size: 1.5em;
  }
  nav a{
    float: none;
    width: auto;
    padding: .25em 0;
    display: none;
  }
  #mobile {
    display: block;
  }
  nav:hover a{
    display: block;
  }
  }